<footer class="page-footer green">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Task Management</h5>
                <p class="grey-text text-lighten-4">Simple demo app for Task Management</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="white-text" href="@routes.TaskController.newTaskPage()">New </a></li>
                    <li><a class="white-text" href="@routes.TaskController.listTaskPage()">List</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">Made by Vini Suarez</div>
    </div>
</footer>