@(message: String)

@main("Task Management") {

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center black-text">Task Management</h1>
            <div class="row center">
                <h5 class="header col s12 light">Simple Demo app for manager you daily tasks</h5>
            </div>
            <div class="row center">
                <a href="@routes.TaskController.newTaskPage()" id="button" class="btn-large waves-effect waves-light orange">Get Started</a>
            </div>
            <br><br>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s6">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="mdi-action-assignment"></i></h2>
                        <h5 class="center">Create your TODOs</h5>
                        <p class="light">
                            You can use this system to create your own personal tasks.
                            Add start and due dates, custom types ( you can add your own type),
                            for each task you can add some related persons.
                        </p>
                    </div>
                </div>

                <div class="col s6">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="mdi-action-done-all"></i></h2>
                        <h5 class="center">Complete all your tasks</h5>
                        <p class="light">
                            How cool is that?
                            Get more more organized and complete your responsibilities with this task manager.
                            With custom types you can add from simple tasks like personal stuff (clean house, do groceries,...)
                            or you can manage your work related tasks. Cool!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
        </div>
    </div>
}
