@(tasks: List[com.vini.demo.taskmanager.model.Task], taskTypes: List[com.vini.demo.taskmanager.model.TaskType])

@main("Task Management") {
    <div class="container" >
        <br><br>
        <h2 class="header center orange-text">Yours tasks</h2>
    </div>
    @if(!tasks.isEmpty) {
        <div class="container long-container">
            <table id="taskList" class="hoverable tablesorter">
                <thead>
                    <tr>
                        <th data-field="name" style="cursor: pointer">Name</th>
                        <th data-field="statDate" style="cursor: pointer">Start date</th>
                        <th data-field="dueDate" style="cursor: pointer">Due Date</th>
                        <th data-field="taskType" style="cursor: pointer">Type</th>
                        <th data-field="description">Description</th>
                        <th data-field="isDone">Done</th>
                        <th data-field="delete">Delete</th>
                    </tr>
                </thead>

                <tbody>
                @for(task <- tasks) {
                    <tr>
                        <td>@task.getName</td>
                        <td>@task.getStartDate</td>
                        <td>@task.getDueDate</td>
                        <td>
                            @if(task.getTaskTypeId != null) {
                                @for(value <- taskTypes) {
                                    @if(value.getId == task.getTaskTypeId.toLong) {
                                        @value.getName
                                    }
                                }
                            }
                        </td>
                        <td>
                            <a id="description" onclick="launchFlippedCard('@task.getDescription')">see</a>
                        </td>

                        <td>
                            @if(task.isDone){
                                <input type="checkbox" id="done@task.getId" checked="checked" onclick="toggleTaskDone('@task.getId')"/>
                            } else {
                                <input type="checkbox" id="done@task.getId" onclick="toggleTaskDone('@task.getId')"/>
                            }
                            <label for="done@task.getId"> </label>
                        </td>
                        <td>
                            <a href="@routes.TaskController.remove(task.getId)" class="Large mdi-action-delete"></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    } else {
        <div class="container long-container">
            <br><br>
            <h2  class="header center black-text">No tasks, add new:</h2>
            <div class="row center">
                <a href="@routes.TaskController.newTaskPage()" id="button" class="btn-large waves-effect waves-light orange">Get Started</a>
            </div>
        </div>
    }
}