@(taskTypes: List[com.vini.demo.taskmanager.model.TaskType])

@main("Task Management") {

    <div class="container">
        <br><br>
        <h2 class="header center orange-text">Add new task</h2>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <form action="@routes.TaskController.add()" method="post">
                    <div class="row">
                        <div class="input-field col s8">
                            <i class="mdi-action-label-outline prefix"></i>
                            <input id="name" name="name" type="text" class="valid" maxlength="30">
                            <label for="name">Task Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-today prefix"></i>
                            <input id="startDate" name="startDate" type="date" class="datepicker picker">
                            <label for="startDate">Start date</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="mdi-action-event prefix"></i>
                                <input id="dueDate" name="dueDate" type="date" class="datepicker">
                                <label for="dueDate">Due Date</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <i class="mdi-action-toc prefix"></i>
                            <label>Task type</label>
                            <select id="taskTypeId" name="taskTypeId">
                                <option disabled selected>Choose your option</option>
                                @for(taskType <- taskTypes) {
                                    <option value="@taskType.getId">@taskType.getName</option>
                                }
                            </select>
                        </div>
                        <div>
                            <div class="col s6">
                                <i class="small mdi-av-playlist-add"></i>
                                <a href="@routes.TaskTypeController.index()">Manage task type</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea class="materialize-textarea" name="description"></textarea>
                            <label>Description</label>
                        </div>
                    </div>
                    <div class="row right-align">
                        <button class="btn waves-effect waves-light" type="submit">Add
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}